#loader .loader-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
#loader .loader-inner .loader-inner-content {
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader .loader-inner .loader-inner-content img {
  vertical-align: middle;
  height: 100px;
}

.logo-wrapper {
  text-align: center;
}

.content .countries-wrapper {
  display: flex;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  margin: 20px;
}
#summary {
  display: flex;
  justify-content: center;
}
#summary .grid {
  background: #f6f8fc;
  padding: 20px;
}
#summary .grid span {
  padding: 5px;
}
#summary .grid .title {
  font-weight: bold;
  display: block;
  font-size: 16px;
  text-transform: uppercase;
}
#summary .grid .value {
  display: block;
}
.content .cards-wrapper {
  margin: 20px;
}
